<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Marta's blog</title>
</head>
<body >
    <div style="background-color: rgb(220, 245, 243); padding: 10px; border: 3px solid #111111; text-align: center;">

        <h1 style="color: #441616; text-decoration:dotted ;">Welcome to my blog</h1>
    </div>
    <div style="margin-top: 10px; display: flex; flex-direction: row; gap: 10px; justify-content: space-between;">
        <div style="background-color: rgba(220, 245, 243, 0.408); padding: 30px 10px; border: 1px solid #111111; width: 100%;">
            <article>
                <time>published: 14.06.2014, 12:14</time>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </article>
        </div>
        <div style="background-color: rgba(220, 245, 243, 0.408); padding: 30px 10px; border: 1px solid #111111; width: 100%;">
            <article>
                <time>published: 14.06.2014, 12:14</time>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </article>
        </div>
    </div>


</body>
</html>